<div class="top-link">
  <div class="container flex">
    <div class="left flex">
      <i class="fa fa-phone" style="margin-right: 2px;"></i> <span>Hotline:0908 77 00 95</span>
    </div>
    <div class="right flex">
      <p class="text-info"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</p>
      <p class="text-info"><i class="fa fa-shopping-cart"></i> Giỏ hàng</p>
      <p class="text-info"><i class="fa fa-sign-in"></i> Đăng nhập </p>
      <p class="text-info"><i class="fa fa-key"></i> Đăng ký </p>
    </div>
  </div>
</div>